.Project {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #e24a54;
}

.project-h2-title {
    background-color: white;
    max-width: max-content;
    height: max-content;
    margin: auto;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 2px 3px 5px rgb(36, 35, 35);
}

.project-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.project-content p {
    width: 100%;
    text-align: center;
}

.project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.mockup {
    height: 20vh;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .Project {
        height: max-content;
        padding: 40px;
    }

    .project-content {  
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .project1 {
        width: 100%;
        margin-bottom: 40px;
    }

    .project2 {
        width: 100%;
        margin-bottom: 40px;
    }


    .mockup {
    height: 200px;
    max-width: 100%;
    }
}