.Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    background-color: black;
}

.logo {
    height: 60px;
    margin: 10px;
}

.contact-h2-title {
    background-color: white;
    max-width: max-content;
    height: max-content;
    margin: auto;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 2px 3px 5px rgb(138, 135, 135);
}

.contact-content {
    display: flex;
    color: white;
    justify-content: space-around;
}

.contact-content a {
    color: #61bcc6;
    text-decoration: none;
}

.logo-container {
    display: flex;
    width: 10%;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .Contact {
        height: max-content;
        padding: 40px;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-h2-title {
        margin-bottom: 40px;
    }

    .text-container {
        text-align: center;
        margin: 10px;
    }
    .logo-container {
        width: 100%;
        justify-content: center;
    }

    .logo {
        width: 30px;
        height: 30px;
        margin: 25px 25px 0 25px;
    }
}
