@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fira+Code&family=Marck+Script&family=Poppins:wght@100;200;300;400;500&family=Saira+Condensed:wght@100;200;300;500&family=ZCOOL+QingKe+HuangYou&display=swap');* {
  margin: 0;
  padding:0;
}

.App h1, h2, h3, h4, h5 {
  font-family: 'Architects Daughter', cursive;
}

.App p {
  font-family: 'Fira Code', monospace;
}