.AboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    background-color: #61bcc6;
}

.aboutMe-h2-title {
    background-color: white;
    max-width: max-content;
    height: max-content;

    margin: auto;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 5px 5px 10px grey;
}

.aboutMe-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    width: 150px;
    border: 15px solid white;
    border-bottom: 60px solid white;
}

.myPresentation{
    width: 80%;
}
