.AboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    background-color: #61bcc6;
    padding-top: 5%;
    padding-bottom: 5%;
}

.aboutMe-h2-title {
    background-color: white;
    max-width: max-content;
    height: max-content;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 50px 10px 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 2px 3px 5px rgb(36, 35, 35);
}

.aboutMe-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    width: 150px;
    border: 15px solid white;
    border-bottom: 70px solid white;
    box-shadow: 2px 3px 5px rgb(36, 35, 35);
    margin: 20px;
}

.myPresentation{
    width: 80%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .AboutMe {
        height: max-content;
        padding: 40px;
    }

    .aboutMe-content {
        flex-direction: column;
    }

    .aboutMe-h2-title {
        margin-bottom: 40px;
    }

    .avatar {
        margin-bottom: 40px;
    }

    .myPresentation{
        width: 100%;
        text-align: center;
    }
}